.starRating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.stars {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 2rem;
  color: #d1d5db; /* Color gris para estrellas vacías */
  cursor: pointer;
  transition: color 0.3s ease;
}

.filledStar {
  color: #fbbf24; /* Color amarillo para estrellas llenas */
}

.submitButton {
  padding: 10px 20px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #1d4ed8;
}