.App {
    text-align: center;
    
}
.Perfil {
    background-color: #add8e6; /* Azul claro */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 10px 0; /* Margen superior e inferior */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para un efecto bonito */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones */
    position: absolute; /* Posiciona el botón */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 10px;
}

.Perfil:hover {
    background-color: #87ceeb; /* Azul más intenso al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.Perfil:active {
    background-color: #4682b4; /* Azul más oscuro al hacer clic */
    transform: scale(0.95); /* Efecto de reducción */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
    margin-bottom: 100px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.large {
    font-size: 2rem;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 10px;
}

.centered {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.square-grid {
    display: inline-grid;
    grid-auto-flow: column;
    gap: 5px;
}

.text-xl {
    font-size: 1.5rem;
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h2 {
    margin-bottom: 10rem;
}

.profile-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icon-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

