.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  margin-bottom: 40px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.large {
  font-size: 1.2rem;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 10px;
}

.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.square-grid {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 5px;
}

.text-xl {
  font-size: 1rem;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {

  margin-bottom: 6rem;
  margin-top: 3rem; /* Añadimos margen superior para bajar el mensaje */
  padding-top: 1rem;
  /* Cambiamos el color de la letra */
  font-size: 2rem; /* Cambiamos el tamaño de la letra */
  font-weight: bold; /* Cambiamos el grosor de la letra */
  text-align: center; /* Centramos el texto */


  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añadimos sombra al texto */
  background: linear-gradient(to right, #346ae0, #769eee); /* Cambiamos el color de fondo */
  -webkit-background-clip: text; /* Cambiamos el color de fondo */
  -webkit-text-fill-color: transparent; /* Cambiamos el color de fondo */
  animation: fadeIn 1s ease-in-out; /* Añadimos una animación de entrada */
  animation-delay: 0.5s; /* Añadimos un retraso a la animación */
  animation-fill-mode: forwards; /* Añadimos un modo de relleno a la animación */
  animation-duration: 1s; /* Añadimos una duración a la animación */
  animation-name: fadeIn; /* Añadimos un nombre a la animación */
  animation-timing-function: ease-in-out; /* Añadimos una función de tiempo a la animación */
  animation-iteration-count: 1; /* Añadimos un conteo de iteraciones a la animación */
  animation-direction: normal; /* Añadimos una dirección a la animación */
  animation-play-state: running; /* Añadimos un estado de reproducción a la animación */



}

/* .profile-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.perfil-dropdown {
  position: fixed;
  top: 0;
  right: -100%; 
  width: 400px;
  height: 100vh;
  background-color: #707070;

  overflow-y: auto; 
  transition: right 0.3s ease-out;
  z-index: 1700;
}

.perfil-dropdown.open {
  right: 0; 
}

.perfil-close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.perfil-close-button:hover {
  background-color: #d32f2f;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.overlay {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1600; 

}

.profile-button-container {
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 1800; 
}

.profile-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #4caf50;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
} */
