.loginContainer {
  display: flex;
  flex-direction: column; /* Asegura que el logo y el formulario estén en columna */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #c5baff, #a1c4ff);
  font-family: 'Arial', sans-serif;
}

.logoContainer {
  text-align: center;
  margin-bottom: 2rem; /* Espaciado entre el logo y el formulario */
}

.logo {
  width: 100px; /* Ajusta el tamaño del logo */
  height: auto;
  border: 2px solid #6a11cb; /* Borde con color */
  border-radius: 20%; /* Esquinas redondeadas (círculo) */
  padding: 5px; /* Espaciado interno entre el borde y el logo */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para un efecto más atractivo */
}

.formWrapper {
  text-align: center;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem; /* Espaciado entre el título y el formulario */
  color: #333;
  font-size: 2rem; /* Ajusta el tamaño del texto */
  font-weight: bold;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espaciado entre los elementos del formulario */
}

.formGroup {
  text-align: left; /* Alinea los labels a la izquierda */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  padding: 0 0.5rem; /* Agrega un padding uniforme a los lados */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #6a11cb;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

.button {
  width: 100%;
  padding: 0.8rem;
  background: #6a11cb;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #2575fc;
}

.googleLoginBtn {
  background: #db4437;
  margin-top: 1rem;
}

.googleLoginBtn:hover {
  background: #c23321;
}